[Unit]
Description = Raspi-Puhelin
After = network.target
 
[Service]
Type = simple
ExecStart = /home/pi/votukka/service.sh
User = pi
Group = pi
Restart = no
StandardOutput=file:/home/pi/votukka/stdout.log
StandardError=file:/home/pi/votukka/stderr.log
SyslogIdentifier = raspi_puhelin
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target
